<div [ngBusy]="busy"></div>
<h2>Species</h2>
<div *ngIf="species.results">
  <table class="table">
    <thead class="table__head">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Classification</th>
        <th>Designation</th>
        <th>Skin Color</th>
        <th>Hair Colors</th>
        <th>Language</th>
        <th>URL</th>
      </tr>
    </thead>

    <tbody class="table__body">
      <tr *ngFor="let species of species.results | slice:0:10; let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ species.name }}</td>
        <td>{{ species.classification }}</td>
        <td>{{ species.designation }}</td>
        <td>{{ species.skin_colors }}</td>
        <td>{{ species.hair_colors }}</td>
        <td>{{ species.language }}</td>
        <td>{{ species.url }}</td>  
      </tr>
    </tbody> 
  </table>
</div>
